*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #9799BA; /*#CCE8DB; */
    border-style: groove;
    border-radius: 8px;
    margin: 2% 10%;
} 
.main{
    background-color: white;
}
.head{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    color: #534d6b; /*A0829A; */
    padding: 1%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-shadow: 1px 1px;
    /*background-color: #abc4ff; */
}
.legend{
    font: italic 1.3em "Fira Sans", serif;
    font-weight: bolder;
    color: black;
    text-shadow: none;
}
fieldset, .field1, .field2, .field3{
    margin: 2% 10%;
    padding: 6px;
}
#label-name{
    padding: 7px;
    border-radius: 2px;
    font-size: 20px;
    color: #534d6b; /* #7c98a6; */
    text-shadow: 1px 1px 2px #b37486;
    font: "Fira Sans", sans-serif; 
}
/*.field1{
    margin: 2%;
    padding: 7px;
    border-radius: 2px;
    font-size: 15px;
    color: #9ab7d3;
    text-shadow: 1px 1px;
    font: 1.2em "Fira Sans", sans-serif; 
}
.field2{
    margin: 2%;
    padding: 7px;
    border-radius: 2px;
    font-size: 15px;
    color: #9ab7d3;
    font: 1.2em "Fira Sans", sans-serif;
} */
p{
    font-size: 23px;
    text-align: center;
    color: #A0829A;
    text-shadow: 1px 1px 2px #9ab7d3;
    font-style: oblique;
}
p1{
    color: #C18897;
    font-size: 15px;
    text-align: center;
    padding: 1%;
    text-shadow: 1px;
}
button{
    margin: .5em;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize; 
    background-color: #BC85A3;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    justify-content: center;
}
.submit{
    display: flex;
    justify-content: center;
}